<footer>
    <div class="inner-footer">
        <label class="text-label">TRIP ITEMS © @DateTime.Now.Year</label>
    </div>
</footer>
<div class="background-popup"></div>
<div id="popupFormToShow"></div>
