html, body {
    height: 100%;
}

body {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: var(--primary-font-family);
    background-color: var(--primary-color);
    min-width: 260px;
}

/* Styles for customizing browswer scrollbar
-----------------------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}

    ::-webkit-scrollbar:horizontal {
        height: 10px;
    }

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888888;
}

/* End
-----------------------------------------------------------*/

@font-face {
    font-family: MontserratExtraBold;
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}

:root {
    --primary-color: #fa453d;
    --primary-red-color: #9E0000;
    --primary-font-family: Verdana;
    --secondary-font-family: MontserratExtraBold;
}

strong {
    font-weight: 900;
}

hr {
    width: 100%;
    clear: both;
    border: none;
    height: 1px;
    background: #C3C3C3;
}

br {
    clear: both;
}

h1 {
    font-weight: bold;
    font-size: 0.98em;
    font-family: var(--primary-font-family);
    line-height: 24px;
}

h2 {
    font-weight: normal;
    font-size: 1.25em;
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
    line-height: 25px;
}

h3 {
    font-weight: normal;
    font-size: 0.85em;
    font-family: var(--primary-font-family);
    line-height: 16px;
}

.display-none {
    display: none;
}

/* Styles for header, footer, page title
-----------------------------------------------------------*/
footer, #body, #body-100-percent {
    display: block;
}

.page-title {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

    .page-title .inner-page-title {
        width: 92%;
        margin: auto;
        text-align: center;
    }

        .page-title .inner-page-title h1 {
            color: #FFFFFF;
        }

#body {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 28px;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

#body-70-percent {
    width: 70%;
    margin: auto;
    background-color: #FFFFFF;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

#body-40-percent {
    width: 40%;
    margin: auto;
    background-color: #FFFFFF;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}


#inner-body {
    width: 40%;
    margin: auto;
    background-color: #FFFFFF;
}

#body-100-percent {
    width: 100%;
    background-color: #FFFFFF;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    flex-shrink: 0;
}

    footer .inner-footer {
        width: 90%;
        margin: auto;
        text-align: center;
    }

        footer .inner-footer .footer-button {
            width: 100%;
            margin-top: 14px;
        }

            footer .inner-footer .footer-button a {
                margin-top: 14px;
            }

        footer .inner-footer .separator {
            display: inline-block;
            font-size: 0.84em;
            color: #B3B3B3;
        }

        footer .inner-footer .text-label {
            display: block;
            font-family: var(--primary-font-family);
            font-size: 0.54em;
            font-weight: normal;
            color: #FFFFFF;
            margin-top: 28px;
        }

/* Styles for input output controls
-----------------------------------------------------------*/

.field-label {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.75em;
    color: #000000;
    line-height: 16px;
}

.field-label-9E0000 {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.75em;
    color: var(--primary-red-color);
    line-height: 16px;
}

.field-label-454545 {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.75em;
    color: #454545;
    line-height: 16px;
}

.field-label-0D8609 {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.75em;
    color: var(--primary-color);
    line-height: 16px;
}

.field-label-big-454545 {
    text-decoration: none;
    font-size: 0.95em;
    font-weight: 600;
    color: #454545;
    line-height: 20px;
}

.field-label-big {
    text-decoration: none;
    font-size: 0.95em;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 20px;
}

.checked-star {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url('../images/checkedStar.svg') no-repeat;
}

/* Styles for check star controls
-----------------------------------------------------------*/

.checkstar {
    width: 21px;
    height: 21px;
    position: relative;
}

    .checkstar input[type=checkbox] {
        opacity: 0;
    }

.checkstar-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/uncheckedStar.svg') no-repeat;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

input[type=checkbox]:checked + .checkstar-slider {
    background: url('../images/checkedStar.svg') no-repeat;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

/* Styles for checkbox form button and checkbox grid button controls
-----------------------------------------------------------*/

.checkbox-grid-button {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.checkbox {
    width: 42px;
    height: 18px;
    position: relative;
}

    .checkbox input[type=checkbox] {
        opacity: 0;
    }

.checkbox-label {
    margin-left: 6px;
    color: #454545;
    font-weight: normal;
    font-size: 0.75em;
}

.checkbox-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-box-shadow: 0 0 0 1px #454545;
    -moz-box-shadow: 0 0 0 1px #454545;
    cursor: pointer;
    border: 3px solid transparent;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    border-radius: 100px;
    box-shadow: 0 0 0 1px #454545;
    transition: 0.4s;
}

    .checkbox-slider:before {
        position: absolute;
        content: "";
        width: 12px;
        height: 100%;
        background-color: #454545;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        border-radius: 100px;
        transform: translateX(0px);
        transition: 0.4s;
    }

input[type=checkbox]:checked + .checkbox-slider {
    -webkit-box-shadow: 0 0 0 1px #fa453d;
    -moz-box-shadow: 0 0 0 1px #fa453d;
    background-color: #fa453d;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    box-shadow: 0 0 0 1px #fa453d;
    transition: 0.4s;
}

    input[type=checkbox]:checked + .checkbox-slider:before {
        -webkit-transform: translateX(24px);
        -moz-transform: translateX(24px);
        background-color: #FFFFFF;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        transform: translateX(24px);
        transition: 0.4s;
    }

.button {
    font-family: var(--primary-font-family);
    border: 1px solid var(--primary-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-color: var(--primary-color);
    font-size: 0.75em;
    color: #FFFFFF;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    white-space: normal;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    border-radius: 100px;
    transition: all 0.2s linear;
}

    .button:hover {
        background-color: #FFFFFF;
        color: var(--primary-color);
    }


.text-box-line-item-quantity {
    height: 25px;
    width: 65px;
    color: #454545;
    text-align: center;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border: 1px solid #C0C0C0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    box-sizing: border-box;
    transition: all 0.25s linear;
}

.text-box-border-0 {
    width: auto;
    height: 35px;
    color: #454545;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    box-sizing: border-box;
    transition: all 0.25s linear;
}

.text-box {
    height: 35px;
    color: #454545;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    padding: 0px 10px 0px 10px;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border: 1px solid #C0C0C0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    box-sizing: border-box;
    transition: all 0.25s linear;
}

.drop-down-list {
    height: 35px;
    color: #454545;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    padding: 0px 6px 0px 6px;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border: 1px solid #C0C0C0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    box-sizing: border-box;
    transition: all 0.25s linear;
}

.text-area {
    height: 75px;
    min-height: 75px;
    color: #454545;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    padding: 10px;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border: 1px solid #C0C0C0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: auto;
    resize: vertical;
    outline: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    box-sizing: border-box;
    transition: all 0.25s linear;
}

    .text-area:focus, .drop-down-list:focus, .text-box-border-0:focus, .text-box:focus, .text-box-line-item-quantity:focus {
        font-weight: 900;
    }

.label-form-value {
    background-color: #C0C0C0;
    color: #454545;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border: 0px;
    padding: 9px 10px 10px 10px;
    line-height: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.label-form-area {
    height: 75px;
    min-height: 75px;
    background-color: #C0C0C0;
    color: #454545;
    padding: 10px;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    resize: vertical;
    outline: none;
}

.message-label {
    color: var(--primary-red-color);
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    line-height: 20px;
}

.picture-message-label {
    color: var(--primary-red-color);
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    line-height: 12px;
}

.message-div {
    font-weight: normal;
    font-size: 0.75em;
    color: #FFFFFF;
    background-color: var(--primary-red-color);
    padding: 12px;
    margin-top: 16px;
    line-height: 16px;
}

.picture-message {
    width: 95%;
    margin: auto;
}

.file-input {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 26px;
    width: 65px;
}

.fake-file {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}

.file {
    position: relative;
    z-index: 2;
    top: 0px;
    left: -10px;
    -webkit-filter: opacity(0%);
    -moz-filter: opacity(0%);
    filter: opacity(0%);
    opacity: 0;
    height: 35px;
    cursor: pointer;
}

/* Styles for fieldset controls
-----------------------------------------------------------*/

.text-box, .label-form-value, .text-area, .label-form-area, .drop-down-list, .message-label, .field-label, .field-label-0D8609 {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.contact-number {
    display: flex;
}

    .contact-number .code {
        -webkit-flex: 1;
        flex: 1;
    }

    .contact-number .number {
        -webkit-flex: 2;
        flex: 2;
    }

.date-selection {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px 0px;
}

    .date-selection .year {
        width: 32%;
    }

    .date-selection .day {
        width: 27%;
    }

    .date-selection .month {
        padding: 0px 5px 0px 5px;
    }

    .date-selection .month-day {
        padding: 0px 0px 0px 5px;
    }

.size-colour-quantity-selection {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px 0px;
}

    .size-colour-quantity-selection .size {
        width: 36%;
    }

    .size-colour-quantity-selection .colour {
        width: 36%;
        padding: 0px 5px 0px 5px;
    }

    .size-colour-quantity-selection .quantity {
        width: 26%;
    }

    .size-colour-quantity-selection .size, .colour, .quantity {
        vertical-align: top;
    }

.checkbox-grid {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

    .checkbox-grid .checkbox-text {
        margin-right: 20px;
        -webkit-flex: 13;
        flex: 13;
    }

    .checkbox-grid .checkbox-button {
        -webkit-flex: 1;
        flex: 1;
    }

.profile-picture-grid {
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

    .profile-picture-grid .profile-picture {
        -webkit-flex: 1;
        flex: 1;
        margin-right: 12px;
    }

    .profile-picture-grid .profile-picture-info {
        -webkit-flex: 9;
        flex: 9;
    }

.profile-picture-holder {
    margin: auto;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: var(--primary-color);
}

    .profile-picture-holder .profile-picture-holder-text {
        padding-top: 22px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 1em;
        font-family: var(--primary-font-family);
    }

.line-item-form .field-label-0D8609 {
    font-weight: bold;
}

.line-item-grid, .line-item-form {
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

    .line-item-grid .line-item-info {
        margin-right: 5px;
        -webkit-flex: 6;
        flex: 6;
    }

    .line-item-grid .line-item-picture {
        -webkit-flex: 1;
        flex: 1;
        width: 101px;
        min-width: 101px;
        border: 0px none;
    }

        .line-item-grid .line-item-picture img {
            width: 100%;
        }

    .line-item-form .line-item-info {
        margin-right: 5px;
        -webkit-flex: 6;
        flex: 6;
    }

    .line-item-form .line-item-picture {
        -webkit-flex: 1;
        flex: 1;
        width: 101px;
        min-width: 101px;
        border: 0px none;
    }

        .line-item-form .line-item-picture img {
            width: 100%;
        }

nav {
    text-align: center;
    padding: 0px 0px 12px 0px;
    margin: 12px 0px 0px 0px;
}

    nav .nav-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0px 0px;
        opacity: 1;
    }

        nav .nav-table.hide-button-progress-bar {
            display: none;
            -webkit-animation: hide-button-progress-bar 0.2s linear;
            -moz-animation: hide-button-progress-bar 0.2s linear;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation: hide-button-progress-bar 0.2s linear;
            animation-fill-mode: forwards;
        }

        nav .nav-table .nav-separator {
            height: 5px;
        }

.button-progress-bar {
    margin: auto;
    font-family: var(--primary-font-family);
    border: 1px solid var(--primary-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: var(--primary-color);
    font-size: 0.75em;
    color: #FFFFFF;
    -webkit-appearance: initial;
    -moz-appearance: initial;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    white-space: normal;
    outline: none;
    display: none;
    opacity: 0;
}

    .button-progress-bar.show-button-progress-bar {
        display: block;
        -webkit-animation: show-button-progress-bar 0.2s linear;
        -moz-animation: show-button-progress-bar 0.2s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: show-button-progress-bar 0.2s linear;
        animation-fill-mode: forwards;
    }

@keyframes show-button-progress-bar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide-button-progress-bar {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.popup-form-small, .popup-form-medium, .popup-form-large, .popup-form-image {
    -webkit-box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.6);
    -moz-box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.6);
    box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.6);
}

/* Styles for background popup
-----------------------------------------------------------*/

.background-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 3;
    opacity: 0;
}

    .background-popup.show-popup-background {
        display: block;
        -webkit-animation: show-popup-background 0s linear;
        -moz-animation: show-popup-background 0s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: show-popup-background 0s linear;
        animation-fill-mode: forwards;
    }

    .background-popup.hide-popup-background {
        display: none;
        -webkit-animation: hide-popup-background 0s linear;
        -moz-animation: hide-popup-background 0s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: hide-popup-background 0s linear;
        animation-fill-mode: forwards;
    }

@keyframes show-popup-background {
    to {
        opacity: 0.2;
    }
}

@keyframes hide-popup-background {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 0;
    }
}

/* Styles for popup form progress bar
-----------------------------------------------------------*/

.popup-form-progress-bar {
    display: none;
    position: absolute;
    z-index: 9999;
    opacity: 0;
    width: 35px;
    height: 35px;
    border: 3px solid #FFFFFF;
    background: url('../images/loadingIcon.svg') no-repeat;
    background-size: contain;
    background-position: center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: #FFFFFF;
    text-decoration: none;
    -webkit-box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.5);
    -moz-box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.5);
    border-radius: 100%;
    box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.5);
}

    .popup-form-progress-bar.show-popup-form-progress-bar {
        display: block;
        -webkit-animation: show-popup-form-progress-bar 0s linear;
        -moz-animation: show-popup-form-progress-bar 0s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: show-popup-form-progress-bar 0s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-progress-bar.hide-popup-form-progress-bar {
        display: none;
        -webkit-animation: hide-popup-form-progress-bar 0s linear;
        -moz-animation: hide-popup-form-progress-bar 0s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: hide-popup-form-progress-bar 0s linear;
        animation-fill-mode: forwards;
    }

@keyframes show-popup-form-progress-bar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide-popup-form-progress-bar {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Styles for error page
-----------------------------------------------------------*/
.error-page-body-content {
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

    .error-page-body-content .error-page-icon {
        -webkit-flex: 1;
        margin-right: 10px;
        padding: 12px;
        width: 70px;
        height: 70px;
        border: 1px solid var(--primary-color);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        background-color: #FFFFFF;
        flex: 1;
        border-radius: 10px;
    }

        .error-page-body-content .error-page-icon p {
            font-size: 3em;
            text-align: center;
            margin-top: 12px;
            color: var(--primary-color);
            font-weight: normal;
        }

    .error-page-body-content .error-page-message {
        -webkit-flex: 5;
        flex: 5;
    }

/* Styles for popup form small
-----------------------------------------------------------*/
.ok-div {
    cursor: pointer;
}

.popup-form-small {
    position: absolute;
    width: 22%;
    min-width: 260px;
    z-index: 5;
    border: 0px none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #FFFFFF;
    opacity: 0;
}

    .popup-form-small.show-popup-form {
        animation: show-popup-form 0.3s linear;
        -moz-animation: show-popup-form 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -webkit-animation: show-popup-form 0.3s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-small.hide-popup-form {
        -webkit-animation: hide-popup-form 0.3s linear;
        -moz-animation: hide-popup-form 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: hide-popup-form 0.3s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-small .close-button-small {
        float: right;
    }

    .popup-form-small .ok-yes-no-div {
        width: 90%;
        border: none;
        margin: 20px auto 20px auto;
    }

    .popup-form-small fieldset {
        width: 100%;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px 20px 0px 20px;
    }

        .popup-form-small fieldset h1 {
            color: var(--primary-color);
            width: 100%;
            text-align: center;
        }
        /* Styles for my profile */

        .popup-form-small fieldset .my-profile {
            margin: auto;
        }

        .popup-form-small fieldset #lblUsername {
            text-align: center;
        }

    /* Styles for ok yes no */

    .popup-form-small .ok-yes-no-body {
        display: flex;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .popup-form-small .ok-yes-no-icon {
        -webkit-flex: 1;
        margin-right: 10px;
        width: 70px;
        height: 70px;
        border: 1px solid var(--primary-color);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        background-color: #FFFFFF;
        flex: 1;
        border-radius: 10px;
    }

        .popup-form-small .ok-yes-no-icon p {
            font-size: 3em;
            text-align: center;
            margin-top: 12px;
            color: var(--primary-color);
            font-weight: normal;
        }

    .popup-form-small .ok-yes-no-message {
        -webkit-flex: 3;
        flex: 3;
    }

    /* Styles for menu */

    .popup-form-small hr {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .popup-form-small .menu-div {
        margin: 15px 0px 15px 0px;
        text-align: center;
    }

/* Styles for popup form medium
-----------------------------------------------------------*/

.popup-form-medium {
    position: absolute;
    width: 100%;
    min-width: 260px;
    z-index: 5;
    background-color: #FFFFFF;
    opacity: 0;
}

    .popup-form-medium.show-popup-form {
        -webkit-animation: show-popup-form 0.3s linear;
        -moz-animation: show-popup-form 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: show-popup-form 0.3s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-medium.hide-popup-form {
        -webkit-animation: hide-popup-form 0.3s linear;
        -moz-animation: hide-popup-form 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: hide-popup-form 0.3s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-medium .close-button-right {
        float: right;
    }

    .popup-form-medium fieldset {
        width: 26%;
        border: none;
        margin: 50px auto auto auto;
    }

        .popup-form-medium fieldset h1 {
            color: var(--primary-color);
        }

        .popup-form-medium fieldset h2 {
            color: #B4B4B4;
            margin: 18px 0px 8px 0px;
        }

/* Styles for popup form large
-----------------------------------------------------------*/
.popup-form-large {
    position: absolute;
    width: 100%;
    min-width: 260px;
    z-index: 5;
    background-color: #FFFFFF;
    opacity: 0;
}

    .popup-form-large.show-popup-form {
        -webkit-animation: show-popup-form 0.3s linear;
        -moz-animation: show-popup-form 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: show-popup-form 0.3s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-large.hide-popup-form {
        -webkit-animation: hide-popup-form 0.3s linear;
        -moz-animation: hide-popup-form 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: hide-popup-form 0.3s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-large .close-button-right {
        float: right;
    }

    .popup-form-large fieldset {
        width: 40%;
        border: none;
        margin: 50px auto auto auto;
    }

        .popup-form-large fieldset h1 {
            color: var(--primary-color);
        }

        .popup-form-large fieldset h2 {
            color: #B4B4B4;
            margin: 18px 0px 8px 0px;
        }

        .popup-form-large fieldset .div-search-create-buttons {
            margin-top: 22px;
        }

        /* Styles for purchase order contacts*/

        .popup-form-large fieldset .phone-icon {
            width: 20px;
            height: 20px;
            margin: 20px auto auto auto;
            background: url('../images/phoneIcon.png') no-repeat;
        }

        .popup-form-large fieldset .email-icon {
            width: 20px;
            height: 15px;
            margin: 20px auto auto auto;
            background: url('../images/emailIcon.png') no-repeat;
        }

        .popup-form-large fieldset .address-icon {
            width: 18px;
            height: 24px;
            margin: 20px auto auto auto;
            background: url('../images/locationIcon.png') no-repeat;
        }

        .popup-form-large fieldset p {
            width: 100%;
            margin-top: 5px;
            text-decoration: none;
            font-weight: normal;
            font-size: 0.75em;
            color: #454545;
            line-height: 16px;
        }

        .popup-form-large fieldset .text-align-center {
            text-align: center;
        }

        .popup-form-large fieldset .address-map {
            width: 100%;
            height: 190px;
            margin-top: 20px;
            border: 1px solid #C3C3C3;
        }

/* Styles for popup item image
-----------------------------------------------------------*/
.popup-form-image {
    position: absolute;
    width: 100%;
    min-width: 260px;
    z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #000000;
    padding: 2px 0px 2px 0px;
    text-align: center;
    opacity: 0;
}

    .popup-form-image.show-popup-form {
        -webkit-animation: show-popup-form 0.3s linear;
        -moz-animation: show-popup-form 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: show-popup-form 0.3s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-image.hide-popup-form {
        -webkit-animation: hide-popup-form 0.3s linear;
        -moz-animation: hide-popup-form 0.3s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: hide-popup-form 0.3s linear;
        animation-fill-mode: forwards;
    }

    .popup-form-image img {
        cursor: pointer;
    }

@keyframes show-popup-form {

    from {
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        transform: translateY(60px);
    }

    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hide-popup-form {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        transform: translateY(60px);
        visibility: hidden;
        opacity: 0;
    }
}

/* Styles for search create buttons
-----------------------------------------------------------*/

.div-search-create-buttons {
    width: 100%;
    margin-bottom: 22px;
}

    .div-search-create-buttons .table-search-create-buttons {
        margin: auto;
        border-collapse: separate;
        border-spacing: 5px 0px;
    }

/* Styles for scroll horizontal menu
-----------------------------------------------------------*/

.scroll-horizontal-menu {
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    padding: 0px 0px 6px 0px;
}

    .scroll-horizontal-menu button {
        display: inline-block;
        margin: 0px 3px 0px 3px;
        text-transform: uppercase;
    }

/* Styles for search items menu
-----------------------------------------------------------*/

.main-shop-menu {
    background-color: whitesmoke;
}

.shop-menu {
    display: block;
}

    .shop-menu .main-global-search {
        width: 100%;
        padding: 28px 0;
    }

        .shop-menu .main-global-search .sub-global-search {
            width: 70%;
            margin: auto;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            border: 1px solid #C0C0C0;
            background-color: #FFFFFF;
            cursor: pointer;
        }

            .shop-menu .main-global-search .sub-global-search .inner-global-search {
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                padding: 12px 16px 12px 16px;
            }

                .shop-menu .main-global-search .sub-global-search .inner-global-search h1 {
                    color: #454545;
                    font-weight: normal;
                }

                .shop-menu .main-global-search .sub-global-search .inner-global-search .search-icon {
                    width: 22px;
                    min-width: 22px;
                    height: 22px;
                    min-height: 22px;
                    margin-right: 10px;
                    background: url('../images/searchIcon.svg') no-repeat;
                }

    .shop-menu.hide-shop-menu {
        display: none;
    }

.department-menu {
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    padding: 23px 0px 16px 0px;
}

.category-menu {
    display: none;
    width: 100%;
    padding: 0px 0px 20px 0px;
}

    .category-menu .div-close-button {
        display: block;
        text-align: center;
    }

    .category-menu h1 {
        color: var(--primary-color);
        text-align: center;
        padding: 20px 0px 20px 0px;
    }

    .category-menu.show-category-menu {
        display: block;
    }

.section-menu {
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

    .section-menu .current-search-text {
        padding: 6px 12px 12px 12px;
        text-align: center;
    }

        .section-menu .current-search-text .field-label-454545 {
            display: inline-block;
            line-height: 24px;
        }

        .section-menu .current-search-text .separator {
            display: inline-block;
            font-size: 0.84em;
            color: #454545;
        }

/* Styles for Rating controls
-----------------------------------------------------------*/

.search-rating {
    padding: 15px 0px 0px 0px;
}

.grid-rating {
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-align-items: center;
    padding: 5px 0px 5px 0px;
    flex-direction: row;
    align-items: center;
}

    .grid-rating > div {
        width: 11px;
        height: 11px;
        margin: 0px 5px 0px 0px;
        background-color: none;
        border: 0px none;
        text-decoration: none;
        outline: none;
    }

.rating {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
}

    .rating > .checkstar {
        margin: 0px 5px 0px 0px;
    }

/* Styles for Grid controls
-----------------------------------------------------------*/

#divCurrentTripItemGrid h2 {
    display: inline-block;
}

.grid-bottom-line {
    height: 1px;
    border-bottom: 1px solid #C3C3C3;
}

.grid-action-link {
    font-family: var(--primary-font-family);
    border: 0px none;
    background-color: transparent;
    font-size: 0.84em;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: normal;
    padding: 0px;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
}

.grid-action-link-nav {
    font-family: var(--primary-font-family);
    border: 1px solid var(--primary-color);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-color: var(--primary-color);
    font-size: 0.54em;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
    padding: 4px 6px 4px 6px;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    border-radius: 100px;
    transition: all 0.2s linear;
}

    .grid-action-link-nav:hover {
        background-color: #FFFFFF;
        color: var(--primary-color);
    }

.grid-view {
    width: 100%;
}

.gv-separator {
    display: inline-block;
    font-size: 0.84em;
    color: #454545;
}

.gv-total-value {
    font-size: 0.95em;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 20px;
}

.gv-row-item-message {
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.gv-message-value {
    text-decoration: none;
    font-weight: normal;
    font-size: 0.95em;
    color: var(--primary-color);
    line-height: 18px;
    text-align: center;
}

.gv-label {
    color: #454545;
}

.gv-value {
    color: var(--primary-color);
}

.gv-value-red {
    color: var(--primary-red-color);
}

.gv-value, .gv-value-red {
    font-weight: 600;
}

.gv-label, .gv-value, .gv-value-red {
    font-size: 0.75em;
    text-decoration: none;
    line-height: 16px;
}

.gv-row, .gv-row-total {
    padding: 20px 0px 20px 0px;
    border-top: 1px solid #C3C3C3;
}

.gv-row-message {
    padding: 20px 0px 20px 0px;
    border-top: 1px solid #C3C3C3;
}

.gv-row-total {
    text-align: right;
}

.gv-row-line, .gv-row-line-whitesmoke, .gv-last-modifier, .gv-nav {
    margin-top: 6px;
}

.gv-row-line-whitesmoke {
    background-color: whitesmoke;
    padding: 10px;
}

.gv-nav {
    display: block;
}

.gv-last-modifier .gv-last-modifier-value {
    font-family: var(--primary-font-family);
    font-size: 0.68em;
    color: #454545;
    font-weight: normal;
    line-height: 14px;
}

/* Styles for page Form controls
-----------------------------------------------------------*/

.page-form {
    width: 100%;
    background-color: #FFFFFF;
}

    .page-form h1 {
        color: var(--primary-color);
    }

    .page-form h2 {
        color: #B4B4B4;
        margin: 18px 0px 8px 0px;
    }

    .page-form .payment-sub-total, .payment-vat, .payment-delivery-amount, .payment-amount {
        text-align: center;
    }

    .page-form .payment-sub-total {
        margin-top: 10px;
    }

    .page-form .payment-vat, .payment-delivery-amount, .payment-amount {
        margin-top: 30px;
    }

    .page-form p {
        width: 100%;
        margin-top: 5px;
        text-decoration: none;
        font-weight: normal;
        font-size: 0.75em;
        color: #454545;
        line-height: 16px;
    }

    .page-form .confirmation-title h1 {
        text-align: center;
    }

    .page-form .confirmation-sub-title, .confirmation-body {
        margin-top: 16px;
    }

        .page-form .confirmation-sub-title h1 {
            text-align: center;
            font-weight: normal;
            color: #454545;
        }

    .page-form .separator {
        display: inline-block;
        font-size: 0.84em;
        color: #454545;
    }

    .page-form .customer-authentication-title {
        text-align: center;
    }

    .page-form .add-to-cart-row {
        display: block;
        margin-top: 10px;
    }

/* Styles for Picture controls
-----------------------------------------------------------*/

.item-picture {
    border: 1px solid #C3C3C3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

    .item-picture img {
        width: 100%;
        margin-top: 10px;
        cursor: pointer;
    }

    .item-picture .last-modifier, .picture-message {
        padding: 0px 8px 8px 8px;
    }

        .item-picture .last-modifier .last-modifier-value {
            width: 100%;
            font-family: var(--primary-font-family);
            font-size: 0.68em;
            color: #454545;
            font-weight: normal;
        }

.create-edit-item-detail-picture-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Styles for Item controls
-----------------------------------------------------------*/

.item-pic-slider, .add-to-cart-pic-slider {
    width: 100%;
    text-align: center;
}

.pic-slider-nav {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 18px 0px 0px 0px;
}

.pic-slide {
    display: none;
    opacity: 0;
    position: relative;
}

    .pic-slide.current {
        display: block;
        -webkit-animation: slide-current-pic 0.5s linear;
        -moz-animation: slide-current-pic 0.5s linear;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation: slide-current-pic 0.5s linear;
        animation-fill-mode: forwards;
    }

.add-to-cart-pic-slider {
    border: 1px solid #C3C3C3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 0px 0px 18px 0px;
}

    .add-to-cart-pic-slider .pic-slide img {
        cursor: pointer;
    }

@keyframes slide-current-pic {
    to {
        opacity: 1;
    }
}

.new-onsale {
    padding: 5px 10px 8px 10px;
    background-color: var(--primary-red-color);
    text-align: center;
    -webkit-border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px;
    border-radius: 0px 0px 12px 12px;
}

    .new-onsale label {
        font-weight: normal;
        font-size: 0.75em;
        color: #FFFFFF;
    }

.item-grid .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

    .item-grid .container .item {
        border: 1px solid #C3C3C3;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        background-color: #FFFFFF;
    }

.item-grid-relation .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

    .item-grid-relation .container .item {
        border: 1px solid #C3C3C3;
        background-color: #FFFFFF;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
    }

.item .item-row {
    width: 92%;
    margin: 6px auto auto auto;
}

    .item .item-row .view-reviews-div {
        margin: 12px auto 0px auto;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .item .item-row .add-remove-wish-list {
        padding-top: 6px;
        text-align: center;
    }

    .item .item-row .item-location {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        background-color: whitesmoke;
        padding: 5px 10px 5px 10px;
    }

        .item .item-row .item-location .location-icon {
            -webkit-flex: 1;
            flex: 1;
            width: 9px;
            height: 12px;
            background: url('../images/itemLocationIcon.png') no-repeat;
        }

        .item .item-row .item-location .location-text {
            -webkit-flex: 9;
            flex: 9;
        }

.item .tbl-new-onsale {
    width: auto;
    margin: auto;
    border-collapse: separate;
    border-spacing: 1px 0px;
    height: 29px;
}

.item .separator {
    display: inline-block;
    font-size: 0.84em;
    color: #5C5C5C;
}

.item .field-label-0D8609 {
    font-weight: bold;
}

.item .was-sale-price-div label {
    text-decoration: line-through;
}

.item .brand-div, .sale-price-div, .was-sale-price-div, .view-specs-div {
    text-align: center;
}

/* Styles for Reviews Button controls
-----------------------------------------------------------*/

.view-reviews-div {
    width: 130px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}

    .view-reviews-div .review-score, .number-of-reviews {
        font-family: Verdana;
        font-weight: normal;
        font-size: 0.75em;
        color: #454545;
    }

    .view-reviews-div .checked-star {
        width: 11px;
        height: 11px;
        margin: 0px 5px 0px 2px;
    }

/* Styles for Purchase Order Tracking controls
-----------------------------------------------------------*/
.purchase-order-tracking {
    width: 100%;
    text-align: center;
}

    .purchase-order-tracking .purchase-order-current-stage, .purchase-order-tracking .purchase-order-stage {
        display: inline-block;
        width: 100px;
        height: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        padding: 10px;
        margin: 10px;
    }

    .purchase-order-tracking .purchase-order-current-stage {
        background-color: #fa453d;
        border: 10px solid #C0C0C0;
    }

    .purchase-order-tracking .purchase-order-stage {
        background-color: #FFFFFF;
        border: 1px solid #C0C0C0;
    }


.purchase-order-stage-current-number, .purchase-order-stage-number {
    display: block;
    text-align: center;
    text-align: center;
    margin-top: 20px;
}

.purchase-order-stage-current-number {
    font-weight: 900;
    color: #FFFFFF;
}

.purchase-order-stage-number {
    font-weight: normal;
    color: #454545;
}

.purchase-order-current-status, .purchase-order-status {
    display: block;
    text-align: center;
    margin-top: 4px;
    font-weight: normal;
    font-size: 0.95em;
    line-height: 20px;
}

.purchase-order-current-status {
    color: #FFFFFF;
}

.purchase-order-status {
    color: #454545;
}

/* Styles for Purchase Order Dashboard controls
-----------------------------------------------------------*/
.purchase-order-count {
    border: 1px solid #C3C3C3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding-top: 30px;
}

    .purchase-order-count .inner-purchase-order-count {
        width: 125px;
        height: 125px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        border: 1px solid var(--primary-color);
        margin: auto;
        text-align: center;
    }

        .purchase-order-count .inner-purchase-order-count .div-count {
            color: var(--primary-color);
            margin-top: 50px;
            font-weight: 900;
            font-size: 1.5em;
            font-family: var(--primary-font-family);
        }

        .purchase-order-count .inner-purchase-order-count .field-label {
            margin-top: 8px;
        }

.purchase-order-dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Styles for reporting
-----------------------------------------------------------*/
.chart-item {
    min-width: 0px;
}

    .chart-item .header-div, .sub-header-div {
        margin-bottom: 8px;
    }

        .chart-item .header-div h3 {
            color: #454545;
        }

    .chart-item .nav-div {
        width: 100%;
        text-align: left;
        margin: 0px 0px 10px 0px;
    }

.column-div, .column-div-border-0 {
    height: 345px;
    overflow-y: auto;
    padding: 16px;
    background-color: #FFFFFF;
}

.column-div {
    border: 1px solid #EDEDED;
}

.column-div-border-0 {
    border: 0px none;
}

.section-container {
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
}

.chart-img {
    height: 250px;
    width: 100%;
}

#chartToPrintCanvas {
    height: 100vh;
    width: 100vw;
}

#section1 {
    display: flex;
}

    #section1 #section1-chart-item1, #section1-chart-item2, #section1-chart-item3 {
        -webkit-flex: 1;
        flex: 1;
    }

    #section1 #section1-chart-item1, #section1-chart-item2 {
        margin-right: 16px;
    }

#section2, #section4 {
    display: block;
    margin-top: 16px;
}

/* Styles for package plan table
-----------------------------------------------------------*/
.package-plan-tbl {
    width: 100%;
    font-weight: normal;
    font-size: 0.75em;
    font-family: var(--primary-font-family);
    border-collapse: separate;
    border-spacing: 0px 1px;
    line-height: 16px;
}

    .package-plan-tbl .td-label {
        color: #000000;
        background-color: #C0C0C0;
        padding: 7px;
    }

    .package-plan-tbl .td-value {
        width: 30%;
        color: #454545;
        padding: 7px;
        border: 1px solid #C0C0C0;
        text-align: center;
    }

/* Styles for media only screen
-----------------------------------------------------------*/
@media only screen and (max-width: 1300px) {
    #inner-body, #body-40-percent, #error-page-inner-body {
        width: 50%;
    }

    .popup-form-small {
        width: 28%;
    }

    .popup-form-medium fieldset {
        width: 32%;
    }

    .popup-form-large fieldset {
        width: 50%;
    }
}

@media only screen and (max-width: 1030px) {

    #inner-body, #body-40-percent, #error-page-inner-body {
        width: 60%;
    }

    .popup-form-small {
        width: 38%;
    }

    .popup-form-medium fieldset {
        width: 42%;
    }

    .popup-form-large fieldset {
        width: 60%;
    }

    .create-edit-item-detail-picture-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #section1 {
        display: block;
    }

        #section1 #section1-chart-item1, #section1-chart-item2 {
            margin-right: 0px;
        }

        #section1 #section1-chart-item2, #section1-chart-item3 {
            margin-top: 16px;
        }
}

@media only screen and (max-width: 800px) {

    #inner-body, #body-40-percent, #error-page-inner-body {
        width: 70%;
    }

    .popup-form-small {
        width: 48%;
    }

    .popup-form-medium fieldset {
        width: 52%;
    }

    .popup-form-large fieldset {
        width: 70%;
    }
}

@media only screen and (max-width: 700px) {

    .purchase-order-dashboard-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 630px) {

    .top-header .inner-top-header {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-align-items: flex-start;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 8px 8px 8px;
    }

        .top-header .inner-top-header .separator {
            display: none;
        }

    .button-top-header {
        margin-top: 6px;
    }

    .create-edit-item-detail-picture-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 500px) {

    #inner-body, #body-40-percent, #error-page-inner-body {
        width: 80%;
    }

    .popup-form-small {
        width: 58%;
    }

    .popup-form-medium fieldset {
        width: 62%;
    }

    .popup-form-large fieldset {
        width: 80%;
    }

    .purchase-order-dashboard-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 1530px) {

    .item-grid-relation .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1230px) {

    .item-grid .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .item-grid-relation .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 930px) {

    .item-grid .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-grid-relation .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {

    .item-grid .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-grid-relation .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
